<ng-container *ngIf="user">
<app-navbar></app-navbar>
<div class="container" style="padding-top: 20px">
  <div class="row" style="margin-bottom: 20px">
    <div class="col"></div>
    <div class="col-6 text-center"><h1>Llistat de sales</h1></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <ng-container *ngFor="let sala of salas">
      <div class="col-1"></div>
      <div class="col-4 border border-secondary rounded" style="margin-bottom: 20px;background-color: rgba(238, 238, 238,0.75)">
        <div>
          <h2 class="text-center" style="margin: 10px">Sala {{sala.id}}</h2>
          <p style="margin: 0;font-weight: bold">Mentor: </p><p *ngFor="let mentor of sala.mentors">{{mentors_dict.get(mentor)}}</p>
          <p style="font-weight: bold;margin: 0">Alumnes:</p>
          <ng-container *ngFor="let i of users_list">
            <ng-container *ngIf="i.sala === sala.id">
              <p style="margin:0;font-weight:bold" *ngIf="user.uid === i.uid">{{i.name}} {{i.second_name}} {{i.third_name}}</p>
              <p style="margin:0" *ngIf="user.uid != i.uid">{{i.name}} {{i.second_name}} {{i.third_name}}</p>
            </ng-container>
          </ng-container>
          <div style="margin-bottom: 5px; margin-top: 5px" *ngIf="user.sala < 0; else administrar">
            <button class="btn btn-secondary" (click)="entrarSala(sala.id)" style="margin:0 auto;display:block">Entrar</button>
          </div>
          <ng-template #administrar>
            <div style="margin-bottom: 5px; margin-top: 5px">
              <button class="btn btn-danger" *ngIf="sala.id === user.sala" (click)="sortirSala()" style="margin:0 auto;display:block">Sortir</button>
            </div>
          </ng-template>
        </div>
      </div>
      <div class="col-1"></div>
    </ng-container>
  </div>
</div>
</ng-container>
