<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center" style="margin-top: 20px;margin-bottom: 20px">Gestió d'horaris per reunions</h1>
  <div class="row">
    <div class="col">
      <div class="border border-secondary rounded" style="margin-top: 20px;background-color: rgba(238, 238, 238,0.75)">
        <div style="margin: 10px">
          <h3 style="margin:10px">Horaris disponibles per reunions:</h3>
          <ul>
            <ng-container *ngFor="let horari of horaris_admin">
              <div style="margin-bottom: 10px;margin-top: 3px">
                <li>{{horari | date:'dd-MM-yyyy h:mm a'}}
                  <button *ngIf="!containsHorari(horari)" style="float: right;display: block" class="btn btn-secondary btn-sm" (click)="escollirHorari(horari)">Escollir</button>
                </li>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="border border-secondary rounded" style="margin-top: 20px;background-color: rgba(238, 238, 238,0.75)">
        <div style="margin: 10px">
          <h3 style="margin: 10px">Els meus horaris:</h3>
          <ul>
            <ng-container *ngFor="let horari of horaris_mentor">
              <div style="margin-bottom: 10px;margin-top: 3px">
                <li>{{horari | date:'dd-MM-yyyy h:mm a'}}
                  <button style="float: right;display: block" class="btn btn-danger btn-sm" (click)="eliminarHorari(horari)">Eliminar</button>
                </li>
              </div>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
