/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  //font-family: Roboto, sans-serif;
  font-family: Helvetica Neue, sans-serif;
  background-image: url('app/images/background.png');
  background-size: 190%;
  font-size: 18px;
}
