<ng-container *ngIf="user">
  <app-navbar></app-navbar>
  <ng-container *ngIf="user.sala > 0; else no_sala">
    <div class="container" style="padding-top: 20px">
      <div class="row" style="margin-bottom: 20px">
        <div class="col"></div>
        <div class="col-6 text-center"><h1>Sala {{user.sala}}</h1></div>
        <div class="col"></div>
      </div>
      <div class="row">
        <div class="col-12 border border-3 border-secondary rounded" style="margin-bottom: 20px;background-color: rgba(238, 238, 238,0.75)">
          <div style="margin:10px">
            <h5>Els teus companys:</h5>
            <ul>
              <ng-container *ngFor="let comp of companys">
                <li>{{comp.name}} {{comp.second_name}} {{comp.third_name}} - {{comp.mail}}</li>
              </ng-container>
            </ul>
          </div>
        </div>
        <div class="col-12 border border-3 border-secondary rounded" style="margin-bottom: 20px;background-color: rgba(238, 238, 238,0.75)">
          <div style="margin:10px">
            <h5>El teu mentor:</h5>
            <ng-container *ngIf="mentors.length > 0;else no_mentor">
              <ul><li *ngFor="let mentor of mentors">{{mentor.name}} {{mentor.second_name}} {{mentor.third_name}} - {{mentor.mail}}</li></ul>
            </ng-container>
            <ng-template #no_mentor>
              <p>Encara no se us ha assignat cap mentor</p>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col border border-3 border-secondary rounded" style="margin-bottom: 20px;background-color: rgba(238, 238, 238,0.75)">
          <div style="margin:10px">
            <h3 class="text-center">Horaris disponibles del teu mentor:</h3>
            <ng-container *ngIf="mentors.length > 0;else no_mentor">
              <ng-container *ngFor="let horari of horaris_mentor">
                <div style="margin-bottom: 10px;margin-top: 3px">
                  <li>{{horari | date:'dd-MM-yyyy h:mm a'}}
                    <button *ngIf="!containsHorari(horari)" style="float: right;display: block" class="btn btn-secondary btn-sm" (click)="escollirHorari(horari)">Escollir</button>
                  </li>
                </div>
              </ng-container>
            </ng-container>
            <ng-template #no_mentor>
              <p>Encara no se us ha assignat cap mentor</p>
            </ng-template>
          </div>
        </div>
        <div class="col-1"></div>
        <div class="col border border-3 border-secondary rounded" style="margin-bottom: 20px;background-color: rgba(238, 238, 238,0.75)">
          <div style="margin: 10px">
            <h3 class="text-center" style="margin: 10px">Horaris escollits pel teu grup:</h3>
            <ul>
              <ng-container *ngFor="let horari of sala_horaris">
                <div style="margin-bottom: 10px;margin-top: 3px">
                  <li>{{horari | date:'dd-MM-yyyy h:mm a'}}
                    <button style="float: right;display: block" class="btn btn-danger btn-sm" (click)="eliminarHorari(horari)">Eliminar</button>
                  </li>
                </div>
              </ng-container>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #no_sala>
    <h5 class="text-center" style="margin-top: 20px">No pertanys a cap sala, afegeix-te a una sala aquí: <a [routerLink]="['/sales']">Llista de sales</a></h5>
  </ng-template>
</ng-container>

