<ng-container *ngIf="user">
  <app-navbar></app-navbar>
  <div style="padding-top: 20px" *ngIf="user.rol === 'admin'; else estudiant">
    <div class="container">
      <h1 class="text-center" style="margin-bottom: 20px">Panell d'administrador</h1>
      <div class="row">
        <div class="col">
          <button class="btn btn-primary" [routerLink]="['/admin/gestio_sales']" style="width: 100%;height: 50px">Gestionar sales</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" [routerLink]="['/admin/gestio_usuaris']" style="width: 100%;height: 50px">Gestionar usuaris</button>
        </div>
        <div class="col">
          <button class="btn btn-primary" [routerLink]="['/admin/gestio_horaris']" style="width: 100%;height: 50px">Gestionar horaris de reunions</button>
        </div>
      </div>
      <div class="row" style="padding-top: 40px">
        <div class="col"></div>
        <div class="col-md-3 align-self-center" style="border: 1px solid black">
          <div style="padding: 20px">
          <h5>Codi del curs: "<span style="font-weight: normal">{{code}}</span>"</h5>
          <form [formGroup]="codeForm" (ngSubmit)="changeCode()" novalidate>
            <label>Nou codi</label>
            <input class="form-control" formControlName="code"><br>
            <button type="submit" class="btn btn-primary" style="margin: 0 auto;display: block;" [disabled]="!codeForm.valid">Guardar</button>
          </form>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
  </div>
  <ng-template #estudiant>
    <div *ngIf="user.rol === 'estudiant'; else mentor">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-5" style="border: 1px solid black;margin: 20px">
            <div style="margin: 20px">
              <h3>Informació d'usuari:</h3>
              <p style="font-weight: bold">Nom: <span style="font-weight: normal"> {{user.name}} {{user.second_name}} {{user.third_name}}</span></p>
              <p style="font-weight: bold">Correu electrònic: <span style="font-weight: normal"> {{user.mail}}</span></p>
              <p style="font-weight: bold">Rol: <span style="font-weight: normal"> {{user.rol.toUpperCase()}}</span></p>
              <p style="font-weight: bold">Sala: <ng-container *ngIf="user.sala > 0; else no_sala">
                <span style="font-weight: normal">{{user.sala}}</span></ng-container>
                <ng-template #no_sala><span style="font-weight: normal">No pertanys a cap sala</span></ng-template></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5">
            <button class="btn btn-primary" [routerLink]="['/sales']" style="width: 100%;height: 50px">Sales disponibles</button>
          </div>
          <div class="col-5">
            <button class="btn btn-primary" [routerLink]="['/la_meva_sala']" style="width: 100%;height: 50px">La meva sala</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
    <ng-template #mentor>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-5" style="border: 1px solid black;margin: 20px">
            <div style="margin: 20px">
              <h3>Informació d'usuari:</h3>
              <p style="font-weight: bold">Nom: <span style="font-weight: normal"> {{user.name}} {{user.second_name}} {{user.third_name}}</span></p>
              <p style="font-weight: bold">Correu electrònic: <span style="font-weight: normal"> {{user.mail}}</span></p>
              <p style="font-weight: bold">Rol: <span style="font-weight: normal"> {{user.rol.toUpperCase()}}</span></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5">
            <button class="btn btn-primary" [routerLink]="['mentor/gestio_sales']" style="width: 100%;height: 50px">Les meves sales</button>
          </div>
          <div class="col-5">
            <button class="btn btn-primary" [routerLink]="['mentor/gestio_horaris']" style="width: 100%;height: 50px">Gestió d'horaris per reunions</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </ng-template>
  </ng-template>
</ng-container>


