<ng-container *ngIf="user">
  <app-navbar></app-navbar>
  <div style="padding-top: 20px" *ngIf="user.rol === 'admin'; else estudiant">
    <div class="container">
      <h1 class="text-center">Panell d'administrador</h1>
      <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
          <button [routerLink]="['/admin/gestio_sales']" style="width: 100%">Gestionar sales</button>
        </div>
        <div class="col-5">
          <button [routerLink]="['/admin/gestio_usuaris']" style="width: 100%">Gestionar usuaris</button>
        </div>
        <div class="col-1"></div>
      </div>
      <div class="row" style="padding-top: 40px">
      <div class="col"></div>
      <div class="col-md-3 align-self-center" style="border: 1px solid black">
        <div style="padding: 20px">
        <h5>Codi del curs: "<span style="font-weight: normal">{{code}}</span>"</h5>
        <form [formGroup]="codeForm" (ngSubmit)="changeCode()" novalidate>
          <label>Nou codi</label>
          <input class="form-control" formControlName="code"><br>
          <button type="submit" class="btn btn-primary" style="margin: 0 auto;display: block;" [disabled]="!codeForm.valid">Guardar</button>
        </form>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </div>
  </div>
  <ng-template #estudiant>
    <div *ngIf="user.rol === 'estudiant'; else mentor">
      <h3>User info:</h3>
      Nom: {{user.name}} {{user.second_name}} {{user.third_name}} <br>
      Rol: {{user.rol}} <br>
      Sala: {{user.sala}}
      <div class="container">
        <div class="row">
          <div class="col-1"></div>
          <div class="col-5">
            <button [routerLink]="['/sales']" style="width: 100%">Sales</button>
          </div>
          <div class="col-5">
            <button [routerLink]="['/la_meva_sala']" style="width: 100%">La meva sala</button>
          </div>
          <div class="col-1"></div>
        </div>
      </div>
    </div>
    <ng-template #mentor>
      <h3>User info:</h3>
      Nom: {{user.name}} {{user.second_name}} {{user.third_name}} <br>
      Rol: {{user.rol}}
    </ng-template>
  </ng-template>
</ng-container>


