<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center" style="margin-bottom: 20px;margin-top: 20px">Sales disponibles</h1>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-4 col-md-3 border border-secondary rounded" style="margin-bottom: 40px;background-color: rgba(238, 238, 238,0.75)" *ngFor="let sala of salas">
      <div>
        <h2 class="text-center" style="margin-top: 10px">Sala {{sala.id}}</h2>
        <h5 style="margin: 0;font-weight: bold">Mentor:</h5>
        <ng-container *ngIf="sala.mentor === '';else mentor">
          <form [formGroup]="mentorForm" (ngSubmit)="assignaMentor(sala.id)" novalidate>
            <select class="form-select" formControlName="nom" autofocus>
              <option></option>
              <option *ngFor="let mentor of mentors_list">{{mentor.name}} {{mentor.second_name}} {{mentor.third_name}}</option>
            </select>
            <div style="margin-top: 5px; margin-bottom: 5px">
              <button type="submit" class="btn btn-secondary" style="margin: 0 auto; display: block" [disabled]="!mentorForm.valid">Assigna</button>
            </div>
          </form>
        </ng-container>
        <ng-template #mentor>
          <div style="margin-bottom: 10px;margin-top: 3px">
            <p class="" style="margin: 0">{{mentors_dict.get(sala.mentor)}} <button style="float: right;display: block" class="btn btn-danger btn-sm" (click)="deleteMentorFromGroup(sala.id)">Expulsar</button></p>
          </div>
        </ng-template>
        <div style="margin-top: 30px;margin-bottom: 30px">
          <h5 style="font-weight: bold">Alumnes:</h5>
          <ng-container *ngFor="let user of users_list">
            <ng-container *ngIf="user.sala === sala.id">
              <div style="margin-bottom: 10px;margin-top: 10px">
                <p class="" style="margin: 0">{{user.name}} {{user.second_name}} {{user.third_name}} <button style="float: right" class="btn btn-danger btn-sm" (click)="deleteUserFromGroup(user.uid)">Expulsar</button></p>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-5"></div>
    <button (click)="crearSala()" class="col-2 btn btn-secondary" style="margin-bottom: 20px">Crear sala</button>
    <div class="col-5"></div>
  </div>
</div>
