<app-navbar></app-navbar>
<div class="container">
  <h1 class="text-center">Sales</h1>
  <div class="row" style="margin-top: 20px">
    <div class="col-lg-4 col-md-3" style="margin-bottom: 20px;border: 1px solid black" *ngFor="let sala of salas">
      <div>
        <h3 class="text-center">Sala {{sala.id}}</h3>
        <p style="margin: 0;font-weight: bold">Mentor:</p>
        <ng-container *ngIf="sala.mentor === '';else mentor">
          <form [formGroup]="mentorForm" (ngSubmit)="assignaMentor(sala.id)" novalidate>
            <select class="form-control" formControlName="nom">
              <option *ngFor="let mentor of mentors_list">{{mentor.name}} {{mentor.second_name}} {{mentor.third_name}}</option>
            </select>
            <button type="submit" class="btn btn-primary" style="margin: 0 auto; display: block" [disabled]="!mentorForm.valid">Assigna</button>
          </form>
        </ng-container>
        <ng-template #mentor>
          <p class="text-center" style="margin: 0">{{mentors_dict.get(sala.mentor)}} <button (click)="deleteMentorFromGroup(sala.id)">Treure</button></p>
        </ng-template>
        <p style="font-weight: bold;margin: 0">Alumnes:</p>
        <ng-container *ngFor="let i of users_list">
          <ng-container *ngIf="i.sala === sala.id">
            <p class="text-center" style="margin: 0">{{i.name}} {{i.second_name}} {{i.third_name}} <button (click)="deleteUserFromGroup(i.uid)">Expulsar</button></p>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-5"></div>
    <button (click)="crearSala()" class="col-2">Crear sala</button>
    <div class="col-5"></div>
  </div>
</div>
